.product {
    /* margin-bottom: 2rem; */
}

.product-container {
    position: relative;
    /* width: 80%; */
    margin: 2rem 0 auto;
    background: #222;
    border-radius: 0.25rem;
}

.product-container img {
    cursor: pointer;
    height: 225px;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 0.25rem;
    transition: all 0.3s linear;
}

.product-container .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ab7a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: all 0.3s linear;
    opacity: 0;
    cursor: pointer;
}

.product-container .link:last-child {
    font-size: 1.25rem;
    color: #fff;
}

.product-container:hover img {
    opacity: 50%;
}

.product-container:hover .link {
    opacity: 1;
}

.product-footer {
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-footer h5,
.product-footer p {
    margin-bottom: 0;
    font-weight: 400;
}

.product-footer p {
    color: #ab7a5f;
    letter-spacing: 0.1rem;
}